<html>
    <head>
        <title>New Article Form</title>
    </head>
    <body>
        <h1>Create new article</h1>
        <p>Title</p>
        <input type="text" id="title"></input><br/>
        <p>Content</p>
  
        
    </body>
</html>
